html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,
samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,
legend,table,caption,tbody,tfoot,thead,tr,th,td {
  border:0;
  outline:0;
  vertical-align:middle;
  background:transparent;
  margin:0;
  padding:0;
}

* {
  margin:0;
  padding:0;
}

body{
    height: 100%;
    width: 100%;
    color: #666666;
}

/* Easy way for me to float items */

.floatleft {
    float:left;
}

.floatright {
    float:right;
}

.floatmiddle {
    margin: 0px auto;
}

.App {
  background-color: white;
}

.App-header {
  text-align: left;
  height: 117px;
}

.App-header > div{
    font-weight: bold;
    font-size: 34px;
    padding-left: 4.5%;
    padding-top: 40px;
}

.row {
    width: 100%;
    height: inherit;
}

.calendar-header {
    float: left;
    padding-left: 4.5%;
}

.calendar-header > .cell {
    float: left;
}

.day {
    width: 19%;
    text-align: center;
    height: 35px;
}

.day:nth-child(-n+4) {
    margin-right: 0.77%;
}

.month-header .row .week-days .day:nth-last-child(1) {
    float: right;
}

.week-days {
    width: 100%;
}

.booking {
    padding-left: 4.5%;
}

.roomWeek > .cell{
    float: left;
    width: 100%;
}

.roomWeek > .cell > .cell{
    float: left;
}

.bookingWeek {
    float: left;
    width: 68%;
}

.bookingWeek .bookingDay{
    float: left;
}

.bookingDay .timePeriod {
    float: left;
}

.bookingWeek .bookingDay:nth-child(-n+4) {
    margin-right: 0.77%;
}

.bookingWeek .bookingDay:nth-last-child(1) {
    float: right;
}

.bookingDay {
    width: 19%;
    height: 100%;
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    column-gap: 0px;
    border: 1px solid #ebebeb;
}

.bookingDay .timePeriod {
    width: 100%;
}

.rooms-header, .roomName {
    height: 70px;
    width: 23%;
}

.month-header {
    width: 68%;
    height: 35px;
    background-color: #ebebeb;
}

.month-header .row{
    float: left;
    width: 100%;
}

.month-header .row > *{
    float: left;
}

.month-header .row .week-days *{
    float: left;
}

.month-name {
    width: 88%;
    text-align: center;
}

.month-header .month-name div{
    width: 100%;
    text-align: center;
}

.left-button, .right-button {
    width: 6%;
}

.left-button > button {
    height: 35px;
    width: 100%
}

.left-button > button > img{
    max-width: 100%;
    float: left;
}

.right-button > button {
    height: 35px;
    width: 100%
}

.right-button > button > img {
    max-width: 100%;
    float: right;
}

.bookingButton {
    width: 40%;
    float: right;
}

.bookingButton .plus {
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-family: Arial;
}

.bookedTime {
    background: #d6d6d6;
}