html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,
samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,
legend,table,caption,tbody,tfoot,thead,tr,th,td {
  border:0;
  outline:0;
  vertical-align:middle;
  background:transparent;
  margin:0;
  padding:0;
}

* {
  margin:0;
  padding:0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

html, body, #root, .App {
    height: 100%;
    width: 100%;
    color: #666666;
}

.App {
  background-color: white;
}

.App-header {
  text-align: left;
}

.App-header > div{
    font-weight: bold;
    padding-left: 6%;
    padding-top: 3.295%;
    padding-bottom: 3.14%;
}

.row {
    width: 100%;
}

.calendar-header {
    float: left;
    padding-left: 6%;
    height: 11.30%;
}

.calendar-header > .cell {
    float: left;
}

.rooms-header {
    padding-top: 2%;
}

.month-name, .rooms-header {
    font-weight: bold;
}

.day {
    width: 19%;
    text-align: center;
}

.month-header .row .week-days .day:nth-last-child(1) {
    float: right;
}

.week-days {
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.booking {
    padding-left: 6%;
}

.roomWeek {
    height: 100%;
}

.roomWeek > .cell{
    float: left;
    height: 14.13%;
    border: 1px solid #ebebeb;
    margin-bottom: 1%;
}

.roomWeek > .cell > .cell{
    float: left;
}

.bookingWeek .bookingDay{
    float: left;
}

.bookingDay .timePeriod {
    height: 2.3%;
}

.timePeriod button {
    height: 2.3%;
    background-color: transparent;
    border: none;
}

.timePeriod button:hover {
    cursor: pointer;
    cursor: hand;
}

.bookingWeek .bookingDay:nth-child(-n+4) {
    border-right: 1px solid #ebebeb;
}

.bookingWeek .bookingDay:nth-last-child(1) {
    float: right;
}

.bookingDay {
    height: 100%;
    border-left: 1px solid #ebebeb;
}

.bookingDay .timePeriod {
    width: 100%;
}

.rooms-header {
    height: 11.3%;
}


.month-header .row{
    float: left;
    width: 100%;
    height: 5.65%
}

.month-header > .row:first-child {
    background-color: #ebebeb;
}

.month-header .row > *{
    float: left;
}

.month-header .row .week-days *{
    float: left;
}

.month-name {
    width: 88%;
    text-align: center;
    padding-top: 1%;
}

.month-header .month-name div{
    width: 100%;
    text-align: center;
}

.left-button, .right-button {
    width: 6%;
}

.left-button > button, .right-button > button {
    height: 5.65%;
    width: 100%
}

.left-button > button > img{
    max-width: 100%;
    float: left;
}

.right-button > button > img {
    max-width: 100%;
    float: right;
}
.left-button button, .right-button button {
    background-color: transparent;
    border: none;
}

.left-button button:hover, .right-button button:hover {
    cursor: pointer;
    cursor: hand;
}

.bookingButton .plus {
    font-family: Arial;
}

.bookedTime {
    background: #d6d6d6;
}

@media screen and (max-width: 359px){
    .bookingWeek .bookingDay{
        font-size: 0.71em;
    }

    .roomWeek .roomName, #month {
        font-size: 0.73em;
    }

    .week-days {
        font-size: 0.71em;
    }

    .month-name, .rooms-header {
        font-size: 0.73em;
    }

    .App-header > div{
        font-size: 1em;
    }

    .bookingButton .plus {
        font-size: 0.9em;
    }

    .bookingWeek .bookingDay:nth-child(-n+4) {
        margin-right: 1%;
    }

    .bookingDay {
        width: 19.2%;
    }

    .bookingButton {
        width: 30%;
    }

    .timePeriod span {
        margin-left: 1%;
    }

    .fullDayName {
        display: none;
    }

    .month-header {
        width: 74%;
    }

    .roomWeek > .cell {
        width: 93%;
    }

    .rooms-header {
        width: 19%;
    }

    .roomWeek .roomName {
        transform: rotate(90deg);
        padding-left: 12%;
        width: 20%;
    }

    .day:nth-child(-n+4) {
        padding-left: 3%;
    }

    .bookingWeek {
        width: 80%;
    }
}

@media screen and (max-width: 325px){
    .bookingWeek .bookingDay{
        font-size: 0.7em;
    }

    .bookingButton {
        width: 25%;
    }

}


@media screen and (min-width: 360px) and (max-width: 767px) {
    .bookingWeek .bookingDay{
        font-size: 0.71em;
    }

    .roomWeek .roomName, #month {
        font-size: 0.86em;
    }

    .week-days {
        font-size: 0.71em;
    }

    .month-name, .rooms-header {
        font-size: 0.86em;
    }

    .App-header > div{
        font-size: 1.1em;
    }

    .bookingButton .plus {
        font-size: 0.9em;
    }

    .bookingWeek .bookingDay:nth-child(-n+4) {
        margin-right: 1%;
    }

    .bookingDay {
        width: 19.2%;
    }

    .bookingButton {
        width: 30%;
    }

    .timePeriod span {
        margin-left: 1%;
    }

    .fullDayName {
        display: none;
    }

    .month-header {
        width: 74%;
    }

    .roomWeek > .cell {
        width: 93%;
    }

    .rooms-header {
        width: 19%;
    }

    .roomWeek .roomName {
        -ms-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        padding-left: 12%;
        width: 20%;
    }

    .day:nth-child(-n+4) {
        padding-left: 3%;
    }

    .bookingWeek {
        width: 80%;
    }
}

@media screen and (max-width: 449px){
    .bookedTime {
        padding-top: 5%
    }
}

@media screen and (min-width: 450px) and (max-width: 539px){
    .bookedTime {
        padding-top: 4%
    }
}

@media screen and (min-width: 540px) and (max-width: 767px){
    .bookedTime {
        padding-top: 3.5%
    }
}

@media  screen and (min-width: 500px) and (max-width: 599px){
    .bookingWeek .bookingDay{
        font-size: 0.72em;
    }

    .week-days {
        font-size: 0.72em;
    }

    .bookingButton .plus {
        font-size: 1em;
    }

    .bookingButton {
        width: 45%;
    }
}

@media  screen and (min-width: 600px) and (max-width: 767px){
    .bookingWeek .bookingDay{
        font-size: 0.73em;
    }

    .week-days {
        font-size: 0.9em;
    }

    .day:nth-child(-n+4) {
        margin-right: 1%;
    }

    .day {
        padding-left: 3%;
    }

    .bookingButton .plus {
        font-size: 1em;
    }

    .bookingButton {
        width: 45%;
    }

    .roomWeek .roomName {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        padding-left: 0%;
        padding-left: 3%;
        padding-top: 3%;
    }

    .timePeriod {
        padding-left: 5%;
    }
}

@media screen and (min-width: 768px) {
    .bookingWeek .bookingDay{
        font-size: 0.71em;
    }

    .roomWeek .roomName, #month {
        font-size: 0.96em;
    }

    .week-days {
        font-size: 0.71em;
    }

    .month-name, .rooms-header {
        font-size: 0.96em;
    }

    .App-header > div{
        font-size: 1.5em;
    }

    .bookingButton .plus {
        font-size: 0.96em;
    }

    .bookingWeek .bookingDay:nth-child(-n+4) {
        margin-right: 1%;
    }

    .bookingDay {
        width: 19.2%;
    }

    .bookingButton {
        width: 25%;
    }

    .bookedTime {
        padding-top: 5%
    }

    .timePeriod span {
        margin-left: 7%;
    }

    .shortDayName {
        display: none;
    }

    .bookingDay .timePeriod {
        float: left;
    }

    .bookingDay {
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        -webkit-column-gap: 0px;
        -moz-column-gap: 0px;
        column-gap: 0px;
        border-left: 1px solid #ebebeb;
    }

    .bookingButton {
        float: right;
    }

    .roomWeek > .cell {
        width: 90.9%;
    }

    .month-header {
        width: 68%;
    }

    .rooms-header {
        width: 23%;
    }

    .roomWeek .roomName {
        padding-left: 3%;
        padding-top: 3%;
        width: 25%;
    }

    .day:nth-child(-n+4) {
        margin-right: 1.25%;
    }

    .bookingWeek {
        width: 75%;
    }
}

@media screen and (min-width: 980px) {
    .bookingWeek .bookingDay{
        font-size: 0.78em;
    }

    .roomWeek .roomName, #month {
        font-size: 1em;
    }

    .week-days {
        font-size: 0.86em;
    }

    .month-name, .rooms-header {
        font-size: 1em;
    }

    .App-header > div{
        font-size: 1.8em;
    }

    .bookingButton .plus {
        font-size: 1em;
    }

    .bookingWeek .bookingDay:nth-child(-n+4) {
        margin-right: 1%;
    }

    .bookingDay {
        width: 19.2%;
    }

    .bookingButton {
        width: 40%;
    }

    .bookedTime {
        padding-top: 2.4%
    }
}

@media screen and (min-width: 1130px) {
    .bookingWeek .bookingDay{
        font-size: 0.86em;
    }

    .roomWeek .roomName, #month {
        font-size: 1em;
    }

    .week-days {
        font-size: 0.86em;
    }

    .month-name, .rooms-header {
        font-size: 1em;
    }

    .App-header > div{
        font-size: 1.8em;
    }

    .bookingButton .plus {
        font-size: 1.2em;
    }

    .bookingWeek .bookingDay:nth-child(-n+4) {
        margin-right: 1.1%;
    }

    .bookingDay {
        width: 19.1%;
    }
}

@media screen and (min-width: 1280px) {

    .bookingWeek .bookingDay{
        font-size: 0.96em;
    }

    .roomWeek .roomName, #month {
        font-size: 1em;
    }

    .week-days {
        font-size: 0.96em;
    }

    .month-name, .rooms-header {
        font-size: 1em;
    }

    .App-header > div{
        font-size: 1.8em;
    }

    .bookingButton .plus {
        font-size: 1.2em;
    }

    .bookingWeek .bookingDay:nth-child(-n+4) {
        margin-right: 1.25%;
    }

    .bookingDay {
        width: 19%;
    }

    .bookedTime {
        padding-top: 0%;
        -webkit-padding-before: 1%
    }
}

@media screen and (min-width: 1335px) {

    .bookingWeek .bookingDay{
        font-size: 1.06em;
    }

    .roomWeek .roomName, #month {
        font-size: 1.2em;
    }

    .week-days {
        font-size: 1.06em;
    }

    .month-name, .rooms-header {
        font-size: 1.2em;
    }

    .App-header > div{
        font-size: 2em;
    }

    .bookingButton .plus {
        font-size: 1.4em;
    }
}
